version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0  # Java 17 environment
    working_directory: ~/project
    steps:
      - checkout

      # Cache Maven dependencies
      - restore_cache:
          keys:
            - maven-{{ checksum "pom.xml" }}
      - run:
          name: Build with Maven
          command: mvn clean install
      - save_cache:
          paths:
            - ~/.m2
          key: maven-{{ checksum "pom.xml" }}
